<p id="notice"><%= notice %></p>

<h1>Buyer Products</h1>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buyer_products.each do |buyer_product| %>
      <tr>
        <td><%= buyer_product.Buyer %></td>
        <td><%= buyer_product.Product %></td>
        <td><%= link_to 'Show', buyer_product %></td>
        <td><%= link_to 'Edit', edit_buyer_product_path(buyer_product) %></td>
        <td><%= link_to 'Destroy', buyer_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buyer Product', new_buyer_product_path %>
