<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @buyer_product.Buyer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @buyer_product.Product %>
</p>

<%= link_to 'Edit', edit_buyer_product_path(@buyer_product) %> |
<%= link_to 'Back', buyer_products_path %>
