<p id="notice"><%= notice %></p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @product.reviews %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @product.picture %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @product.seller %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
